@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.templateContainer {
  @apply container mx-auto px-4 md:px-8 lg:px-12;
}

.gradientHeading {
  @apply bg-gradient-to-br w-full bg-clip-text text-transparent inline-block from-darkGolden via-mid to-lightGolden;
}

.radialGradient {
  @apply bg-[radial-gradient(circle_at_top_left,_var(--tw-gradient-stops))] from-darkGolden/25 via-transparent to-transparent;
}

* {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  font-family: "Catamaran", serif;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fbd973;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.hover-class {
  position: relative;
}

.hover-class::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #fbd973, #fbd973);
  transition: width 0.3s ease, left 0.3s ease;
}

.hover-class:hover::after {
  left: 0;
  width: 100%;
}
