@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.templateContainer {
  @apply container mx-auto px-4 md:px-8 lg:px-12;
}

.gradientHeading {
  @apply bg-gradient-to-br w-full bg-clip-text text-transparent inline-block from-darkGolden via-mid to-lightGolden;
}

.radialGradient {
  @apply bg-[radial-gradient(circle_at_top_left,_var(--tw-gradient-stops))] from-darkGolden/25 via-transparent to-transparent;
}

* {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  font-family: "Catamaran", serif;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fbd973;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.hover-class {
  position: relative;
}

.active-class {
  position: relative;
}

.hover-class::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #fbd973, #fbd973);
  transition: width 0.3s ease, left 0.3s ease;
}

.hover-class:hover::after {
  left: 0;
  width: 100%;
}
.active-class::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #fbd973, #fbd973);
}
.ant-modal .ant-modal-content {
  position: relative;
  background-clip: padding-box;
  background-color: #000;
  color: white;
  border-radius: 8px;
  border: 1px #3f361c solid;
  pointer-events: auto;
  padding: 20px 24px;
}
.my-masonry-grid {
  display: flex;
  gap: 1rem;
}

.my-masonry-grid_column {
  padding-left: 1rem;
  padding-right: 1rem;
}

.world-map {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.world-map img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Map Pin Icon */
.pin {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.pin-icon {
  font-size: 1.5em; /* Adjust size of the pin */
  color: #e63946; /* Red color like Google Maps pin */
  transition: transform 0.3s ease-in-out;
}

.pin:hover .pin-icon {
  transform: scale(1.4); /* Slight bounce effect on hover */
}

/* Tooltip */
.pin .tooltip {
  position: absolute;
  bottom: 101px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Show Tooltip on Hover */
.pin:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-10px);
}

/* Line Animation */
.pin::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  background: #fff;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.pin:hover::after {
  opacity: 1;
  height: 100px;
}

/* Pin Positions */
.pin.india {
  top: 60%;
  left: 67.5%;
}
.pin.bangladesh {
  top: 57%;
  left: 72%;
}
.pin.philippines {
  top: 62%;
  left: 80%;
}
.pin.uk {
  top: 40%;
  left: 45.5%;
}
.pin.nepal {
  top: 56%;
  left: 69%;
}
.pin.pakistan {
  top: 55%;
  left: 66%;
}
.pin.uae {
  top: 58%;
  left: 61.5%;
}
.pin.ksa {
  top: 60%;
  left: 59%;
}
.pin.uganda {
  top: 70%;
  left: 56%;
}
.pin.nigeria {
  top: 64%;
  left: 49%;
}
.pin.ghana {
  top: 63%;
  left: 46%;
}
.pin.sierraleone {
  top: 63%;
  left: 43%;
}
.pin.nigeria {
  top: 64%;
  left: 49%;
}
